In [112]:
import pandas as pd

a = pd.read_csv('dataset_TIST2015_Checkins.txt', sep='\t', header=None, names=['user', 'locid', 'time', 'offset', 'non'])
b = pd.read_csv('dataset_TIST2015_POIs.txt', sep='\t', header=None, names=['locid', 'lat', 'lon', 'name', 'category', 'country', 'city', 'popular'])
c = a.join(b.set_index('locid'), on='locid')

#filter the dataset c to only regions in UCLA
latmin, lonmin,  latmax,lonmax = 34.067089, -118.445003, 34.075976, -118.439485
c = c[(c['lat'] > latmin) & (c['lat'] < latmax) & (c['lon'] > lonmin) & (c['lon'] < lonmax)]
c["time"] = pd.to_datetime(c['time'].str[:20]+c['time'].str[26:])

In [114]:
c.loc[:,['user','time','lat','lon','name']].to_csv('ucla_checkins.csv', index=False, header=False)

In [119]:
import matplotlib.pyplot as plt

#find out how many group by unique lat,lon and count the number of checkins
d = c.groupby(['lat','lon']).size().reset_index(name='counts')
d

          lat         lon  counts
0   34.067219 -118.442219       1
1   34.067257 -118.440175       1
2   34.067502 -118.440420       3
3   34.067574 -118.442686       8
4   34.068105 -118.442359       1
..        ...         ...     ...
83  34.075075 -118.440074       2
84  34.075407 -118.440203       1
85  34.075697 -118.441034       2
86  34.075750 -118.439848       1
87  34.075770 -118.440998       1

[88 rows x 3 columns]